.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .responsiveContainer {
    max-width: 1140px;
  }
}
